.App {
  text-align: center;
  color: rgb(27, 21, 27);
  background-image: url("https://www.smurf.com/images/brainy-news.png");
  background-repeat: no-repeat;
  width:98%;}
.smurfs {
  width: 100%;
}

.card {
  margin: 2% 30%;
  border: solid 1px black;
  width: 500px;
}

.list {
 display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 5px;
  border: 1px solid rgb(24, 23, 34);
  padding: 10px;
  background: transparent;
  transition: 0.15s ease-in-out;
  margin: 10px 0;
  color: rgb(27, 25, 36);
  margin-left: 22px;
}

